@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jay Brennan<br />
    Programmer<br />
    Thomson Shore IT Department<br />
</address>

<address>
    <strong>Support:</strong>   <a href="jbrennan@tshore.com">jbrennan@tshore.com</a><br />
</address>