@{
    ViewBag.Title = "CARS Home";
}

<div class="jumbotron row-centered">
    <h1>CARS 2019</h1>
    <p class="lead">Corrective Action Reporting System</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TS Customer Portal</h2>
        <p>
            Customer Portal
        </p>
        <p><a class="btn btn-default" href="https://secure.thomsonshore.com/Account/LoggedIn">Now you're thinking with Portals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DPCQ</h2>
        <p>DPCQ </p>
        <p><a class="btn btn-default" href="http://dpcq.tshore.com/TSProd/Customers.aspx">DPCQ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help Desk</h2>
        <p>Help! If you need somebody, Help!, not just anybody.</p>
        <p><a class="btn btn-default" href="http://help.tshore.com/">Halp! &raquo;</a></p>
    </div>
</div>